.CardContainer {
  color: #fff;
  margin: 20px;
  border-radius: 10px;
  background-color: Tomato;
  padding: 10px;
}

.IncrementButtonContainer {
  color: #fff;
  margin: 20px;
  border-radius: 10px;
  background-color: Purple;
  padding: 10px;
}

.CardContainerClicked {
  color: #000;
  margin: 20px;
  border-radius: 10px;
  background-color: #F2F910;
  padding: 10px;
}